<!DOCTYPE html>
<html lang="en">
<head>

    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="shortcut icon" href="">

</head>

<body>
<form action="create.html" target="_blank">
    <button>New employee</button>
</form><br/>
<form action="delete.html" target="_blank">
    <button>Delete an employee</button>
</form><br/>
<form action="redact.html" target="_blank">
    <button>Redact an employee</button>
</form><br/>
<form action="all.html" target="_blank">
    <button>All employees</button>
</form>
</body>
</html>